<section class="header-app">
    <div class="container">
          <div class="header-app__row">
              <div class="col-lg-2 col-md-2 col-xs-10">
                  <div class="header-app__logo">
                    <a class="header-app__logo-link" href="#">
                      <img src="/assets/img/logo.svg">
                    </a>
                  </div>
              </div>
                <div class="header-app__mobile-item" (click)="mobileMenu()">
                  <span class="header-app__mobile-icons-menu"></span>
                </div>
              <div class="col-lg-10 col-md-10 col-xs-12 col-xs-fluid" [ngClass]="show ? 'show':'hidden'">
                <app-menu-top></app-menu-top>
              </div>
          </div>
        </div>
</section>

